.single-product {
    .container {
        padding: 0;
    }
    
    .title-div {
        display: none;
    }

    .woocommerce-Tabs-panel {
        p {
            margin: 0 auto;
            line-height: 1.8;
            width: 100%;
        }
    }
    .thwvsf_fields .select2.select2-container {
        width: 100% !important;
        max-width: 280px;
    }
    .wpa-product-gallery-thumbs .slick-list {
        padding: 0 !important;
    }
    .single_variation {
        display: none !important;
    }
    .price {
        display: none;
    }
    .price.total,  .price:nth-child(1) {
        display: block !important;
    }
    .product_totals {
        .gfield, .gfield label {
            display: none;
        }
    }
    .gfield:nth-child(3) {
        display: block;
    }
    #including-prod-vat text, .gform_footer {
        display: none;
    }
    .gfield_radio {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .gfield_radio .gchoice {
        width: 20%;
    }
    .ginput_container_select .gfield_select {
        padding: 10px;
        border-radius: 10px;
    }
    .ginput_container_text input {
        min-width: 60%;
        min-height: 100px;
        padding: 0 20px !important;
        border-radius: 15px;
    }
    .formattedTotalPrice {
        margin-top: 50px;
        color: var(--pink);
        font-size: 20px;
        font-weight: bold;
        font-family: "CircularStdBold", Arial, Helvetica, sans-serif;
    }
    .woo-related-products-container 
    {
        .price, .product_type_simple {
            display: none !important;
        }
    }
    .thwvsf-drop-color {
        border-radius: 50%;
    }
    span.thwvsf-drop-label {
        font-family: inherit;
        font-size: inherit;
    }
}
#productSingleTemplateCs{

    h1, h2, h3, h4, h5{
        color: #000000;
        font-family: "CircularStdBook", Arial, Helvetica, sans-serif;
    }

    .including-prod-vat {
        font-family: "CircularStdBold", Arial, Helvetica, sans-serif;
    }

    .thwvsf_fields {
        max-width: 55%;
        height: 10px;
    }
    
    h1{
        font-size: 22px;
        max-width: 60%;
        margin-bottom: 10px;
    }

    .wp-post-image{
        margin-bottom: 0px;
        max-height: 700px;
        object-fit: contain;
    }

    .posted_in{
        display: none;
    }

    .woocommerce div.product p.price, .woocommerce div.product span.price {
        color: #e40f62 !important;
    }

    .entry-summary{
        // .total{
        //     padding-top: 5px;
        //     margin-bottom: -5px;
        //     font-size: 25px;
        //     color: #e40f62 !important;
        //     display: block !important;
        //     .price { 
        //         display: block !important;
        //     }
        // }
        .price{
            color: var(--pink);
        }
        .exclude-prod-vat{
            font-size: 14px;
            color: var(--dark-grey);
        }

        .woocommerce-price-suffix{
            font-size: 14px;
        }
    }

    .variations{
        margin: 10px 0;
        
        .label{
            display: block;
            padding-top: 50px;
        }

        tr:first-child .label {
            padding-top: 5px;
        }

        .value{
            display: block;
        }

        select{
            max-width: 100%;
            min-width: 60%;
            padding: 3px 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 10px;
            cursor: pointer;
            color: var(--dark-grey);

        }
    }

    .stock {
        color: var(--dark-grey);
        padding: 0 0 20px 0;
        display: none;
    }

    .quantity{
        display: block;
        width: 100%;

        input {
            padding: 9px;
            font-size: 12px;
        }
    }

    .single_add_to_cart_button{
        font-family: "CircularSTDBook", Arial, Helvetica, sans-serif;
        margin-top: 20px;
        width: 60%;
        display: block;
        background: var(--pink);
        padding: 20px 40px;
        font-size: 18px;
        transition: 0.2s ease-in-out;

        &:hover{
            background: #ed347c;
            color: #f3f3f3;
        }

        @media (max-width: 767px){
            width: 100%;
        }

    }

    .variations_form{
        margin-bottom: 20px;
    }
    .select2-selection__arrow {
        transform: rotate(-44deg);
        b {
            width: 2px; 
            border-bottom: 2px solid var(--pink);
            border-left: 2px solid var(--pink);
            position: relative;
            -webkit-transform: rotate(225deg);
            transform: rotate(90deg);
            font-size: 0px;
            padding: 4px;
            left: 0;
            top: -5px;
            border-width: 0px 0px 2px 2px;
        }
    }
 

    .deliveryline{
        border: 1px solid var(--light-grey);
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        padding: 5px 0;
        width: 100%;
        max-width: 280px;
        justify-content: space-between;

        p{
            padding: 10px 15px;
            margin: 0;
            line-height: 1.4;
            font-size: 14px;
        }

        .arrow{
            width: 5px;
            height: 5px;
            border-bottom: 2px solid var(--pink);
            border-left: 2px solid var(--pink);
            position: relative;
            -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
            font-size: 10px;
            padding: 4px;
            margin-right: 15px;
        }
    }

    .prod-social-icons{
        padding-top: 40px;

        h5,p{
            color: var(--dark-grey);
        }

        span{
            display: block;
        }

        p{
            display: inline-block;
            text-align: center;
            font-size: 16px;
        }

        i{
            margin: 5px 5px 10px 5px;
            padding: 10px;
            font-size: 25px;
            border: 3px solid #000000;
            color: #000000;
            border-radius: 100%;
            display: inline-block;
        }

        a{
            text-decoration: none;
        }
    }

    .wc-tabs{
        display: none;
    }

    // Description tabs
    .additional_information_tab, .reviews_tab{
        display: none!important;
    }

    // Main description tab
    .woocommerce-Tabs-panel{
        color: var(--dark-grey);
        text-align: center;
        position: relative;
        display: block;
        line-height: 1.5;
        font-weight: 400;
        padding: 10px;
        padding-top: 25px;
        font-size: 18px;

        h1, h2, h3{
            display: none;
        }
    }

    #tab-description{
        iframe{
            padding-top: 60px;
            height: 580px; 
            width: 90%;
            @media screen and (min-width: 768px) {
                width: 70%;
            }
        }
    }

    // custom acf description columns
    #prodCustomDescColumns{
        max-width: 80%;
        margin: 0 auto;

        h1, h2, h3, h4, h5{
            color: #000000;
        }

        .row .col-12 {
            column-count: 2;
            line-height: 2.2;
        }

        h4{
            &:after{
                display: none;
            }
        }

        p{
            color: var(--dark-grey);
        }
    }  

    // ------ lighbox v2 thumbnails
    .flex-control-thumbs li {
        width: 18%;
        padding: 10px;
        clear: none;
    }

    .woocommerce-product-gallery__trigger{
        background: #ececec;
    }

    .variation-info {
        width: 450px;
        padding: 10px 0 0;
        font-size: 15px;
        max-width: 360px;
        line-height: 1.5;
    }
    .sku_wrapper {
        font-size: 12px;
        color: #000000;
        font-weight: bolder;
    }
    .up-sells { 
        display: none;
    }
}

// -------------- Woocom plugin Related products
.woo-related-products-container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h2{
        color: #000000;
        font-size: 34px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding-bottom: 35px;
    }

    ul{
        display: flex;
        justify-content: center;

        @media (max-width: 767px){
            display: block;
        }

        li{
            width: 27.05%!important;
            margin: 0 auto!important;

            @media (max-width: 767px){
                width: 100%!important;
                margin-bottom: 30px!important;
            }
        }

        h2{
            font-size: 24px;
            text-transform: none;
            letter-spacing: 1px;
            padding-top: 20px;
            padding-bottom: 10px;
        }

        img{
            width: 85%;
            margin: 0 auto;
        }
    }

    .woorelated-title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 26px;
        margin-top: 50px;
        padding: 10px;
    }

    .amount{
        color: var(--pink);
    }

    .exclude-prod-vat{
        color: var(--dark-grey);
    }
    .including-prod-vat{
        font-size: 16px;
    }

    .add_to_cart_button{
        font-family: "CircularSTDBook", Arial, Helvetica, sans-serif;
        font-size: 22px;
        color: #ffffff;
        background: var(--pink);
        margin: 20px auto 0 auto;
        width: 90%;
        display: block;
        padding: 15px 40px;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        border-radius: 0 !important;

        @media (max-width: 1023px){
            font-size: 16px;
        }
    }

    .customNavigation{
        display: none;
    }
}

.shop_attributes {
    display: none;
}

.woocommerce-product-details__short-description, .wc-tab .column {
    column-count: 2;
    width: 80%;
    margin: 0 auto;

    p {
        font-size: 14px;
        line-height: 1.4;
        padding: 0;
        margin: 0;
    }
}